<%-include("header")-%>
<h2>this is an about page</h2>
<p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, illo. Reprehenderit similique praesentium suscipit, nam quo quibusdam at esse ullam assumenda, excepturi corrupti velit minima pariatur eveniet nihil odio. Similique debitis quos dolorum, ex maxime dolor alias repellat unde magnam dignissimos voluptatum reiciendis illo cupiditate delectus asperiores veniam, saepe et!</p>

<%-include("footer")-%>
